body {
    background-color: #69ABDB;
    margin: 0px;
}

ul {
    list-style-type: none;
}

#content {
    margin: 0px auto;
    max-width: 800px;
    background-color: #3697ED;
    padding: 0px;
}

#controlBar {
    background-color: #3697ED;
}

.btn {
    background-color: #3697ED;
    border: none;
    border-radius: 5px;
    padding: 12px;
    cursor: pointer;
    font-size: 18px;
    color: white;
}

.btn:hover {
    background-color: #2D7CC2;
    /*background-color: #89A1D5;*/
}

#tree {
    background-color: #D7EFEC;
    padding: 5px;
    height: 100%;
}

.loadingimg {
    width: 22px;
    height: 22px;
    background-color: #D7EFEC;
}

span {
    font-size: 20px;
    background-color: #DAF0ED;
    border-style: none;
    border-radius: 4px;
}

span:hover {
    background-color: #94EFC2;
    border-radius: 4px;
    border: 2px solid #81D1A9;
}

#selected {
    background-color: #89A1D5;
}


.containing-expand {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.nested {
    display: none;
}

.active {
    display: block;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    background-color: #3697ED;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    background-color: #2D7CC2;
    border-style: none;
}

.modal-header {
    padding: 2px 16px;
    background-color: #3697ED;
    color: white;
}

.modal-body {
    padding: 5px 16px;
}

.modal-body-part {
    margin: 10px 0px;
}

.modal-message {
    font-size: 18px;
}

.inputText {
    font-size: 18px;
}

.modal-footer {
    padding: 2px 16px;
    min-height: 30px;
    background-color: #3697ED;
    color: white;
}
